body {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1b1c29;
    color: white;
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}

h1 {
    font-size: 2.6em;
    margin: 20px;
}

p {
    font-size: 1.3em;
    margin-top: 20px;
    color: #dfdfdf;
    text-align: center;
}

a {
    color: #6a5bf3 !important;
    text-decoration: none !important;
    transition: color 0.3s ease !important;
}

a:hover {
    color: #a46fd6 !important;
    text-decoration: underline !important;
}


@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 2em;
        margin: 15px;
    }

    p {
        font-size: 1em;
        margin-top: 15px;
    }
}
